
@model PaginatedListViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="bg-white-wrapper">
    <div class="row">
        @foreach (var item in Model.Data)
        {
            <div class="col-4">
                <div class="card m-3">
                    <div class="card-header">
                        <h4 class="card-title">@item.Title</h4>
                    </div>
                    <img class="card-img-top" src="~/images/universalmarket-background.jpg" asp-append-version="true">
                    <div class="card-body">
                        <p class="card-text">@item.Description</p>
                        <div class="row">
                            <div class=" col-3">
                                <label asp-for="@item.Price"></label>                              
                                <span>:</span>
                            </div>
                            <div class="col-9">
                                <span class="card-text">
                                    @item.Price <i class="fas fa-dollar-sign"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-center">
                        <a class="btn btn-primary" asp-action="Details" asp-controller="Product" asp-route-id="@item.Id">View</a>
                    </div>
                </div>
            </div>
        }
    </div>
    <ul class="pagination pl-3">
        @if (Model.ShowPrevious)
        {
            <li class="page-item">
                <a asp-page="/pagination" asp-route-currentpage="@(Model.CurrentPage -1)" class="page-link">Previous</a>
            </li>
        }
        @for (int i = 1; i <= Math.Min(Model.TotalPages, 5); i++)
        {
            <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                <a asp-page="/pagination" asp-route-currentpage="@i" class="page-link">@i</a>
            </li>
        }
        @if (Model.ShowNext)
        {
            <li class="page-item">
                <a asp-page="/pagination" asp-route-currentpage="@(Model.CurrentPage + 1)" class="page-link">Next</a>
            </li>
        }
    </ul>
</div>