@inject UserManager<AspNetUsers> userManager
@model PaginatedListViewModel
@{
    ViewData["Title"] = "Home Page";
}



<link rel="stylesheet" href="~/css/product-card.css">

<div class="wrapper">
    @foreach (var item in Model.Data)
    {
        <div class="container">
            <div class="top">
                <img src="~/images/universalmarket-background.jpg" />
            </div>

            <div class="bottom">
                <div class="left">
                    <div class="details">
                        <h1> @item.Title</h1>
                        <p> £@item.Price</p>
                    </div>
                    <div class="buy"> <i class="fas fa-shopping-cart"> </i> </div>
                </div>

                <div class="right">
                    <div class="done">
                        <i class="fas fa-check"> </i>
                    </div>
                    <div class="details">
                        <h1> @item.Title</h1>
                        <p> Added to your cart</p>
                    </div>
                    <div class="remove"> <i class="material-icons"> clear</i> </div>
                </div>
            </div>
        </div>

        <div class="inside">
            <div class="icon"> <i class="fas fa-info"></i></div>

            <div class="contents">
                <table>
                    <tr>
                        <th> Width</th>
                        <th> Height</th>
                    </tr>
                    <tr>
                        <td> @item.User.Id</td>
                        <td> 4000mm</td>
                    </tr>
                    <tr>
                        <th> Something</th>
                        <th> Something</th>
                    </tr>
                    <tr>
                        <td> 200mm</td>
                        <td> 200mm</td>
                    </tr>
                    <tr>
                        <th> Something</th>
                        <th> Something</th>
                    </tr>
                    <tr>
                        <td> 200mm</td>
                        <td> 200mm</td>
                    </tr>
                    <tr>
                        <th> Something</th>
                        <th> Something</th>
                    </tr>
                    <tr>
                        <td> 200mm</td>
                        <td> 200mm</td>
                    </tr>
                </table>
            </div>
        </div>
    }
</div>

<ul class="pagination pl-3">
    @if (Model.ShowPrevious)
    {
        <li class="page-item">
            <a asp-page="/pagination" asp-route-currentpage="@(Model.CurrentPage -1)" class="page-link">Previous</a>
        </li>
    }
    @for (int i = 1; i <= Math.Min(Model.TotalPages, 5); i++)
    {
        <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
            <a asp-page="/pagination" asp-route-currentpage="@i" class="page-link">@i</a>
        </li>
    }
    @if (Model.ShowNext)
    {
        <li class="page-item">
            <a asp-page="/pagination" asp-route-currentpage="@(Model.CurrentPage + 1)" class="page-link">Next</a>
        </li>
    }
</ul>


<script>
    $('.buy').click(function () {
        $('.bottom').addClass("clicked");
    });

    $('.remove').click(function () {
        $('.bottom').removeClass("clicked");
    });
</script>





